.NotBoughtPowerUp{
    color: red;
}
.AvailablePowerUp{
    color: blue;
}
.BoughtPowerUp{
    color: green;
}
.NotBoughtPowerUp{
    width: 50;
    height: 20;
    border: 1px white;
    background-color: cornflowerblue;
}

.ShopButton:hover{
    border: 1px cornflowerblue;
    background-color: white;
}